body {
    text-align : center ;
    background-color: #283149;
}
h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: Arvo, cursive;
    text-shadow: 3px 0 #DA0463;
}
.container {
    display : flex;
    justify-content : center ;
    align-items: center ;
    gap : 1rem;
    
    
    
    height : 25rem;
}

button {
    font-size: 6rem;
    height: 10.5rem;
    width: 10.5rem;
    border-radius: 1.2rem;
    background-color: white;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    font-family: Arvo, cursive;
    border: 0.5rem solid darkgray;

    
}

.drum:active {
    color: white;
    border-color: #DA0463;
}

p{
    color : white;
    position : absolute ;
    bottom : 0px;
    width : 100%;
}
.w{
   background-image : url("images/tom1.png");  
}
.a {
    background-image: url("images/tom2.png");
}
.s {
    background-image: url("images/tom3.png");
}
.d {
    background-image: url("images/tom4.png");
}

.j {
    background-image: url("images/snare.png");
}
.k {
    background-image: url("images/crash.png");
}
.l {
    background-image: url("images/kick.png");
}